<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821225440901-3ismh07huk9bg3fc7vrm8fvqit8jhqrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821225440901-3ismh07huk9bg3fc7vrm8fvqit8jhqrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBb8EFhLB-vnHGGkN-o8JGMPRwUcJGWK00</string>
	<key>GCM_SENDER_ID</key>
	<string>821225440901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>riyaApp.DermaVision2</string>
	<key>PROJECT_ID</key>
	<string>dermavision-c3996</string>
	<key>STORAGE_BUCKET</key>
	<string>dermavision-c3996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821225440901:ios:bf7de3c0a2fe696d680bec</string>
</dict>
</plist>